{% extends "myauth/base.html" %}
{% block title %}
Main
{% endblock title %}

{% block body %}
    {% if user.is_authenticated %}
        {% if user.profile.avatar %}
        <p>
            <img src="{{user.profile.avatar.url}}" alt="{{user.profile.avatar.name}}">
        </p>
        {% else %}
        <p>
            Avator not found!
        </p>
        {% endif %}
        <p>
            Name: {{user.username}}
        </p>
        <p>
            Bio: {{user.profile.bio}}
        </p>
        <p>
            First Name: {{user.first_name}}
        </p>
        <p>
            Email: {{user.email}}
        </p>
        <hr>
        <h2>Logout</h2>
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <p>
            <a href={% url 'shopapp:index_shop' %}>Go to shop</a>
        </p>
    {% else %}
        <h1>User is Anonymous</h1>
        <a href={% url 'accounts:login' %}>Go to login</a>
    {% endif %}
{% endblock body %}