{% extends "shopapp/base.html" %}

{% block title %}
Order List
{% endblock title %}

{% block body %}
<h1>Order List</h1>
<p>
    <a href={% url "shopapp:order_create" %} >Create</a>
</p>
{% if orders %}
<div>
    {% for order in orders %}
        <hr>
        <p><a href={% url "shopapp:order_detail" pk=order.pk%}>Order by: {% firstof order.user.username order.user.firstname %}</a></p>
        <p>Delivery Address: {{order.delivery_address}}</p>
        <p>Promocode <code>{{order.promocode}}</code></p>
    {% endfor %}

</div>
{% else %}
<h2>No order yet</h2>
{% endif %}

<a href={% url "shopapp:index_shop" %} >Back</a>

{% endblock body %}