{% extends "shopapp/base.html" %}

{% block title %}
Product List
{% endblock title %}

{% block body %}
<h1>Product List</h1>
<div>
    <a href={% url "shopapp:create_product" %} >Create</a>
</div>
<div>
    {% if products %}
        {% for product in products %}
            <span>
                <div>
                    <br>
                    <p>Name : {{product.name}}</p>
                    <p>Price : {{product.price}}</p>
                    <p>Discount : {{product.discount}}</p>
                    <hr>
                </div>
            </span>
        {% endfor %}
    {% else %}
    <p>No products in list</p>
    {% endif %}
</div>

<a href={% url "shopapp:index" %} >Back</a>

{% endblock body %}