{% extends "shopapp/base.html" %}

{% block title %}
{{product.name}} detail
{% endblock title %}

{% block body %}
<div>
    <h1>Name : {{product.name}}</h1>
    <br>
    <p>Seller : {% firstof product.created_by.username product.created_by.firstname %}</p>
    <p>Price : {{product.price}}</p>
    <p>Discount : {{product.discount}}</p>
    <p>Description : {{product.description}}</p>
    <p>Archived : {{product.archived}}</p>
    <p>
        <b>{{product.images.all|length}} images</b>
    </p>
    <div style="display: flex;">
        {% for img in product.images.all %}
        <img src="{{img.image.url}}" alt="{{img.image.name}}" style="height: 200px;">
            {% empty %}
            No images
        {% endfor %}
    </div>
    {% if perms.shopapp.change_product or user.is_superuser or product.created_by == user %}
        <a href={% url "shopapp:product_update" pk=product.pk %}>Update</a>
        <a href={% url "shopapp:product_archived" pk=product.pk %}>
            {% if product.archived %}
                Unarchived
            {% else %}
                Archived
            {% endif %}
        </a>
    {% endif %}
    <hr>
</div>

<a href={% url "shopapp:product_list" %}>Back</a>

{% endblock body %}