{% extends "shopapp/base.html" %}
{% load i18n %}

{% block title %}
    {{product.name}} {% translate "detail" %} 
{% endblock title %}

{% block body %}
<div>
    <h1>{% translate "Name" context "product name" %} : {{product.name}}</h1>
    <br>
    <p>{% translate "Seller" %} : {% firstof product.created_by.username product.created_by.firstname %}</p>
    {% blocktranslate with price=product.price discount=product.discount description=product.description archived=product.archived%}
        <p>Price : {{price}}</p>
        <p>Discount : {{discount}}</p>
        <p>Description : {{description}}</p>
        <p>Archived : {{archived}}</p>
    {% endblocktranslate %}
    <p>
        {% blocktranslate count counter=product.images.all|length %}
        <b>There is only one image.</b>
        {% plural %}
        <b>There are {{ counter }} images.</b>
        {% endblocktranslate %}
    </p>
    <div style="display: flex;">
        {% for img in product.images.all %}
        <img src="{{img.image.url}}" alt="{{img.image.name}}" style="height: 200px;">
            {% empty %}
            {% translate "No images" %}
        {% endfor %}
    </div>
    {% if perms.shopapp.change_product or user.is_superuser or product.created_by == user %}
        <a href={% url "shopapp:product_update" pk=product.pk %}>{% translate "Update" %}</a>
        <a href={% url "shopapp:product_archived" pk=product.pk %}>
            {% if product.archived %}
                {% translate "Unarchived" %}
            {% else %}
                {% translate "Archived" %}
            {% endif %}
        </a>
    {% endif %}
    <hr>
</div>

<a href={% url "shopapp:product_list" %}>{% translate "Back" %}</a>

{% endblock body %}