{% extends "shopapp/base.html" %}

{% block title %}
Product List
{% endblock title %}

{% block body %}
<h1>Product List</h1>
<div>
    <a href={% url "shopapp:product_create" %} >Create</a>
</div>
<div>
    {% if products %}
        {% for product in products %}
            <span>
                <div>
                    <br>
                    <p><a href={% url "shopapp:product_detail" pk=product.pk %}>Name : {{product.name}}</a></p>
                    <p>Price : {{product.price}}</p>
                    <p>Discount : {{product.discount}}</p>
                    <hr>
                </div>
            </span>
        {% endfor %}
    {% else %}
    <p>No products in list</p>
    {% endif %}
</div>

<a href={% url "shopapp:index_shop" %} >Back</a>

{% endblock body %}