{% extends "shopapp/base.html" %}

{% block title %}
{% if product.archived %}
            Unarchived
        {% else %}
            Archived
        {% endif %} product
{% endblock title %}

{% block body %}
<h1>#{{product.pk}}. {{product.name}}</h1>
Are you sure what you want to {% if product.archived %}
Unarchived
{% else %}
Archived
{% endif %}?
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">
        {% if product.archived %}
            Unarchived
        {% else %}
            Archived
        {% endif %}
    </button>
</form>
<hr>
<a href={% url "shopapp:product_detail" pk=product.pk %}>Back to Product</a>
{% endblock body %}

